
@{
    ViewBag.Title = "五福天下慈善商城APP下载";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="pagewarp">
    <div class="top">
        <img src="~/Contents/Imgs/logo.png" />
        <h1>五福天下APP</h1>
        <p>移动客户端下载</p>
    </div>
    <div class="btnwarp">
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.lq319.shop" role="button" class="btn btn-lg btn-block btn-warning"><i class="fa fa-android" aria-hidden="true"></i> Android 下载</a>
        <a href="#" role="button" class="btn btn-lg btn-block btn-danger"><i class="fa fa-apple" aria-hidden="true"></i> Iphone 下载(开发中)</a>
    </div>
    <div class="copyr">
        Copy right 2017 江苏悟行电子商务有限公司
    </div>
</div>

